@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

div.header {
    width: 100%;
    background-color: red;
    height: 80vh;
}



div.logo-name {
    background-color: blue;
    width: 100%;
    text-align: center;
    font-size: "Josefin Serif";
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

header {
    width: 100%;
    height: 75vh;
    background-color: aqua;
    display: flex;
}

nav {
    background-color: red;
    width: 20%;
    height: 100%;
}
div.container-home {
    background-color: purple;
    width: 80%;
    height: 100%;
    display: flex   ;
}

div.home-text {
    background-color: yellow;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.text {
    width: 280px;
    text-align: justify;
    background-color: aqua;
}

div.home-pic {
    background-color: orange;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pic {
    background-color: brown;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div.nav {
    display: flex;
    flex-flow: column wrap;
    background-color: green;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

div.nav span.material-symbols-outlined {
    font-size: 1.3rem;
    position: relative;
    top: 4px;
    margin-right: 10px;
    background-color: red;
}

div.nav a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    background-color: red;
}

div.nav div::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: purple;
} 

div.container-estudos {
    background-color: coral;
    margin-top: 50px;
    width: 100%;
    height: 50vh;
}   

div.teste {
    background-color: white;
    width: 100%;
    height: 100vh;
}