@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

div.header {
    width: 100%;
    height: 80vh;
}

div.logo-name {
    background-color: #2d2e4e;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: "Josefin Serif";
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

header {
    width: 100%;
    height: 75vh;
    background-color: aqua;
    display: flex;
}

nav {
    width: 20%;
    height: 100%;
}

div.container-home {
    background-color: #fff;
    width: 80%;
    height: 100%;
    display: flex   ;
}

div.home-text {
    background-color: #35365c;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.text {
    width: 560px;
    margin-left: 100px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #c0c0c0;
    text-align: justify;
}

p.text-header-menor {
    font-size: 40px;
}

p.text-header-menor span {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

p.text-header-maior {
    font-size: 40px;
}

p.text-header-maior span {
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
}

p.aboutme {
    margin-top: 25px;
    color: #e9e9e9;
}

p.aboutme span.web {
    padding-bottom: 10px;
    text-decoration: underline;
}

span.real {
    font-weight: bold;
}

div.home-pic {
    background-color: #35365c;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pic {
    background-color: brown;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div.nav {
    display: flex;
    flex-flow: column wrap;
    background-color: #434365;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

div.nav span.material-symbols-outlined {
    color: #c0c0c0;
    font-size: 1.1rem;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

div.nav span.material-symbols-outlined:hover {
    color: #c0c0c079;
}

div.nav a {
    color: #c0c0c0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
}

div.nav a:hover {
    color: #c0c0c079;
}

div.nav div::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #8e8e8e;
} 

section.container-estudos {
    background-color: #2d2e4e;
    width: 100%;
}   

div.teste {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.timeline {
    position: relative;
    margin: 0px auto;
    padding: 40px;
    width: 1000px;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    top: 25px;
    height: 85%;
    background-color: #c5c5c5;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
} 

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: #ffffa3;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ffffa3;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: #ffffa3;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ffffa3;
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #ffd438;
    font-family: "Raleway", sans-serif;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -175px;
    margin: 0;
    padding: 8px 16px;
    background-color: #ffd438;
    border-radius: 15px;
}

.time h4 {
    font-size: 18px;
    color: #2c2c2c;
    font-family: "Raleway", sans-serif;
}

.timeline ul li:nth-child(odd) #time {
    position: absolute;
    top: 45px;
    right: -170px;
    margin: 0;
    padding: 8px 16px;
    font-size: 12px;
    text-transform: uppercase;  
    color: aliceblue;
    letter-spacing: 5px;
}

.timeline ul li:nth-child(even) #time1 {
    position: absolute;
    top: 45px;
    left: -175px;
    margin: 0;
    padding: 8px 16px;
    font-size: 12px;
    text-transform: uppercase;  
    color: aliceblue;
    letter-spacing: 5px;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -195px;
    margin: 0;
    padding: 8px 16px;
    background-color: #ffd438;
    border-radius: 15px;
}

.timeline ul li:nth-child(even) #time {
    position: absolute;
    top: 45px;
    left: -140px;
    margin: 0;
    padding: 8px 16px;
    font-size: 12px;
    text-transform: uppercase;
}

section.container-projetos {
    width: 100%;
    height: 50vh;
    background-color: #35365c; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cartao {
    display: grid;
    place-items: center;
    background: var(--body-gradient);
    padding-block: 4.5rem;
  }

.cartao {
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.box {
    width: 300px;
    height: 300px;
    position: relative;
    padding: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 20px 24px hsla(235, 32%, 15%, 0.2);
    overflow: hidden;
}

.box div {
    width: 100%;
    height: 100%;
    background-color: #2b2c4b5c;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.box_content {
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    font-style: italic;
    font-size: 23px;
}

.box_content {
    position: relative;
    z-index: 10;
}
/**********************************************************************************/

section.container-avaliacao {
    width: 100%;
    height: 50vh;
    background-color: #2d2e4e; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-av {
    display: grid;
    place-items: center;
    background: var(--body-gradient);
    padding-block: 4.5rem;
  }

.avaliacao {
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.box-avaliacao {
    width: 400px;
    height: 180px;
    border-left: solid 3px rgb(255, 212, 56);
	border-bottom: solid 3px rgb(255, 212, 56);
}

.box-avaliacao1 {
    position: relative;
    left: -100px;
}

.box-avaliacao2 {
    position: relative;
    left: 30px;
}

.box_content {
    position: relative;
    z-index: 10;
}

footer {
    background-color: rgb(53, 54, 92);
    font-family: "Raleway", sans-serif;;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px ;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    padding:  10px;
    margin: 10px;
    border-radius: 35%;
}

.social-media i {
    font-size: 2em;
    color: #fff;
    opacity: 0.9;
}

.social-media a:hover i {
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a {
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
}

.footer-bottom {
    background-color: #2d2e4e;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    color: white;
} 

/**********************************************************************************/
@media screen and (max-width: 340px) {
    .cartao, .avaliacao {
        margin-inline: 1rem;
    }
    .box, .box-avaliacao {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 440px) {
    .cartao, .avaliacao {
        grid-template-columns: 328px;
    }
     section.container-projetos, section.container-avaliacao {
        height: 1000px;
    }
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 

    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

@media screen and (min-width: 768px) {
    .cartao, .avaliacao {
        grid-template-columns: repeat(2, 328px);
        column-gap: 2rem;
    }

    section.container-projetos, section.container-avaliacao {
        height: 100vh;
    }
}
  
@media screen and (min-width: 1100px) {
    .container-cartao, .content-av {
        height: 100vh;
    }

    .cartao {
        grid-template-columns: repeat(3, 328px);
        column-gap: 2rem;
    }

    section.container-projetos, section.container-avaliacao {
        height: 100vh;
    }
}